
@{
    ViewBag.Title = "Post2";
}


@*from: https://startbootstrap.com/template-overviews/clean-blog/*@
<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Why is the market dipping?</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="~/css/clean-blog.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    @*<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="index.html">Start Bootstrap</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="post.html">Sample Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>*@
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('~/images/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>The Spring 2018 'Crash'</h1>
                        <h2 class="subheading">What is going on with this crash?</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>Find the full post on Reddit by user Suuperdad <a href="https://redd.it/7vga1y">here</a></p>
                    <p>"So what drives price of any commodity, crypto, gold, pizzas, whatever? The money invested in it, right? Kind of, but not really. What if I told you that you could theoretically raise bitcoin from $15k to $20k by spending $1, and lower it from $25k to $1k by spending the same $1? Crazy right?</p>
                    <p>AN EXAMPLE</p>
                    <p>This is going to start out slow, I want to make sure I get everyone on the same page before I pick things up and lift the curtain. Stick with me here....

This is an example to help illustrate why prices aren't driven by money invested, but rather consensus and opinion. Lets imagine the following exists (we will use bitcoin as an example, but this is how everything on the planet works)

Lets say Bitcoin is currently priced at $10k (the last sale). From $11k to $99k, every $1k there is someone with a sell order of 1 full bitcoin. From $9k to $1 dollar, every $1k on the way down there is someone with a buy order of 1 full bitcoin.

So, right now if you wanted to buy bitcoin you have several options... meet the lowest seller's price of $11k, or, put your own buy order up, above the highest buyer's bid order (overcut them). If you decide to just place an order, the price doesn't change. If you decide the buy the $11k bitcoin, now bitcoins value is $11k, with a new lowest sell offer of $12k, and a highest buy bid of $10k. Someone else comes in an overcuts the buy bid and puts 1 BTC for sale for $11k. No trades are made until someone matches a buy/sell.

 </p>
                    <p>Okay, that's kindergarten stuff, most people here understand that. So how much money drove the price up in this situation? $11k, and BTC price raised 11/10, 1.10, or 10% from the last sale. Now the entire marketcap of BTC raised 10% (last sale multiplied by circulating supply). So it takes $11k to drive a 10% increase, right? Not at all. Lets look at what happens when news is released.

News comes out that Warren Buffet thinks bitcoin is a scam, a bubble, and he wouldn't touch it with a 10 foot pole because he only invests in things he understands and he doesn't understand crypto. People panic everywhere, and believe "this guy is smart, I'm overvaluing this thing".

Suddenly people don't want to buy this scam anymore, and the buy orders for $11k, $10, and $9k are taken down. </p>
                    <p>At the same time, the people wanting to sell start to panic and just want out. The guy at $32k (who just had that offer up "just incase it moons") drops down to $11k sell order. The guy at $12k, who was the lowest, now undercuts him to $10k.

The other buyers see the sellers undercutting and think that if these people want out, why am I buying in. The $8k guy pulls his offer, and so do the $7k, $6k and $5k guys. The highest offer is now $4k.

The sellers panic further and the $14k guy undercuts the $10k guy and puts up a $9k sell. The $15k, 17k and 11k guys all see this flurry of panic and now a storm undercutting is triggered, to $8k, $7k, and $6k. The $8k order pulls his again and goes down to $5k.

The price on the buy and sell orders has moved around a ton, but no sales have actually happened yet. Technically, BTC is still "worth" $11k, and the market cap reflects that. All this horseshit has happened, and it only happened in 10 seconds, but the price hasn't moved yet.

The $27k guy wakes up and checks his phone. He had a $27k offer just incase the price moved also, and he also only has a tiny infinitesimal fraction of a BTC. Well, he decides "he's out" and fills $1 worth of the part of the $4k guys buy offer.

The latest price information is now updated, and BTC fell from $11k to $4k price per BTC with the movement of a single dollar. </p>
                    <p>This is exaggerated example, but this is what moves price. Not money in vs money out. The ONLY THING that moves price is perception.."</p>

                </div>
            </div>
        </div>
    </article>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/js/clean-blog.min.js"></script>
</body>
</html>

